*{
    padding: 2px;
    margin: 0px;
}
dt,h2{
    font-weight: 700;
    color: rgb(28, 29, 29);
}
/* id selectors */
.head #tite,#titel-sub{
    color: blue;
}
.head{
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
